@import 'material-icons/iconfont/material-icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='dark'] {
    --html-body-bg-color: rgb(30, 36, 47);
    --html-default-text-color: rgba(255, 255, 255, 0.9);
    --html-scrollbar-track: rgba(20, 25, 33);
    --html-scrollbar-thumb: rgba(56, 65, 80, 0.9);
    --html-scrollbar-thumb-hover: rgba(56, 65, 80, 1);

    --html-default-input-bg-color: rgba(56, 65, 80, 0.9);
    --html-default-input-text-color: rgba(255, 255, 255, 0.9);

    --html-default-button-bg-color: rgba(56, 65, 80, 0.9);
    --html-default-button-hover-bg-color: rgba(64, 73, 89, 0.9);

    --html-default-border-color: rgba(118, 118, 118, 0.1);

    --html-default-spinner-color: #ffffff;

    --nav-bg-color: rgba(20, 25, 33, 0.9);

    --card-bg-color: rgba(99, 99, 99, 0.1);

}

[data-theme='light'] {
    --html-body-bg-color: rgb(242, 242, 242);
    --html-default-text-color: #0b0b0b;
    --html-scrollbar-track: rgba(20, 25, 33);
    --html-scrollbar-thumb: rgba(56, 65, 80, 0.9);
    --html-scrollbar-thumb-hover: rgba(56, 65, 80, 1);

    --html-default-input-bg-color: rgba(229, 229, 229, 0.9);
    --html-default-input-text-color: rgba(30, 30, 30, 0.9);

    --html-default-button-bg-color: rgba(229, 229, 229, 0.9);
    --html-default-button-hover-bg-color: rgba(219, 218, 218, 0.9);

    --html-default-border-color: rgb(215, 215, 215);

    --html-default-spinner-color: #0b0b0b;

    --nav-bg-color: rgba(188, 188, 188, 0.9);

    --card-bg-color: rgba(187, 187, 187, 0.1);
}

body {
    background-color: var(--html-body-bg-color);
    color: var(--html-default-text-color);

    --button-good-bg-color: rgba(0, 255, 0, 0.2);
    --button-good-border-color: rgba(0, 255, 0, 0.2);
    --button-good-hf-bg-color: rgba(0, 255, 0, 0.3);
    --button-good-hf-border-color: rgba(0, 255, 0, 0.3);

    --button-bad-bg-color: rgba(255, 0, 0, 0.2);
    --button-bad-border-color: rgba(255, 0, 0, 0.2);
    --button-bad-hf-bg-color: rgba(255, 0, 0, 0.3);
    --button-bad-hf-border-color: rgba(255, 0, 0, 0.3);
}

@layer components {

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--html-scrollbar-track);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--html-scrollbar-thumb);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--html-scrollbar-thumb-hover);
    }

    dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.7);
    }

    dialog {
        @apply hidden opacity-0 pointer-events-none rounded-md;
        transition: opacity 0.5s;
        color: var(--html-default-text-color);
    }

    dialog[open] {
        opacity: 1;
        display: flex;
        flex-direction: column;
        pointer-events: inherit;
    }

    .dialog-body {
        @apply flex-1 overflow-y-auto p-5;
    }

    .dialog-footer {
        @apply p-4 flex flex-row justify-end gap-4;
    }

    nav {
        @apply flex flex-row justify-between items-center px-5 py-3 sticky;
        background-color: var(--nav-bg-color);
    }

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 0.5rem;
        margin-bottom: 0.8rem;
    }

    h2 {
        font-size: 1.75rem;
        font-weight: bold;
        margin-top: 0.5rem;
        margin-bottom: 0.8rem;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 0.5rem;
        margin-bottom: 0.8rem;
    }

    h4 {
        font-size: 1.25rem;
        font-weight: bold;
        margin-top: 0.5rem;
        margin-bottom: 0.8rem;
    }

    form, .form {
        @apply flex flex-col gap-4;
    }

    input, select {
        @apply px-3 py-2 rounded-md w-full border;
        background-color: var(--html-default-input-bg-color);
        border-color: var(--html-default-border-color);
        color: var(--html-default-input-text-color)
    }

    button, button[type='button'], input[type='submit'] {
        @apply px-5 py-2 rounded-md border;
        background-color: var(--html-default-button-bg-color);
        border-color: var(--html-default-border-color);
        color: var(--html-default-text-color);
    }

    button:hover, button[type='button']:hover, input[type='submit']:hover {
        background-color: var(--html-default-button-hover-bg-color);
    }

    .button-good {
        background-color: var(--button-good-bg-color) !important;
        border-color: var(--button-good-border-color) !important;;
    }

    .button-good:hover, .button-good:focus {
        background-color: var(--button-good-hf-bg-color) !important;;
        border-color: var(--button-good-hf-border-color) !important;;
    }

    .button-bad {
        background-color: var(--button-bad-bg-color) !important;
        border-color: var(--button-bad-border-color) !important;;
    }

    .button-bad:hover, .button-bad:focus {
        background-color: var(--button-bad-hf-bg-color) !important;;
        border-color: var(--button-bad-hf-border-color) !important;;
    }

    .login {
        @apply p-5 mx-auto my-4 text-center rounded-md border;
        background-color: var(--card-bg-color);
        border-color: var(--html-default-border-color);
        max-width: 400px;
    }

    .container {
        @apply p-5 mx-auto;
        max-width: 1200px;
    }

    .loading {
        @apply flex flex-col items-center justify-center;
    }

    .spinner {
        transform-origin: center;
        animation: spinner_animation_1 2s linear infinite
    }

    .spinner circle {
        stroke-linecap: round;
        stroke: var(--html-default-spinner-color);
        animation: spinner_animation_2 1.5s ease-in-out infinite
    }

    @keyframes spinner_animation_1 {
        100% {
            transform: rotate(360deg)
        }
    }
    @keyframes spinner_animation_2 {
        0% {
            stroke-dasharray: 0 150;
            stroke-dashoffset: 0
        }
        47.5% {
            stroke-dasharray: 42 150;
            stroke-dashoffset: -16
        }
        95%, 100% {
            stroke-dasharray: 42 150;
            stroke-dashoffset: -59
        }
    }

    .action-box {
        @apply flex justify-center p-6 rounded-md border;
        border-color: var(--html-default-border-color);
        background-color: var(--card-bg-color);
    }

    .action-box-clickable {
        @apply flex justify-center p-6 cursor-pointer rounded-md border;
        border-color: var(--html-default-border-color);
    }

    .action-box-clickable:hover {
        background-color: var(--card-bg-color);
    }

    .display-box {
        @apply flex p-6 rounded-md border;
        border-color: var(--html-default-border-color);
        background-color: var(--card-bg-color);
    }

    .display-box-clickable {
        @apply flex p-6 cursor-pointer rounded-md border;
        border-color: var(--html-default-border-color);
    }

    .display-box-clickable:hover {
        background-color: var(--card-bg-color);
    }

    .display-box-clickable h1 {
        margin: 0;
    }

    .form-reactive {
        @apply flex-1 flex flex-row gap-4;
    }

    @media (max-width: 768px) {
        .form-reactive {
            @apply flex-col;
        }
    }

}
