<!DOCTYPE html>
<html lang="en" data-theme='dark'>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/ico" href="/assets/favicon-64dde6a7.ico"/>
    
    <title>I Do Sets</title>
  <script type="module" crossorigin src="/assets/index-1ed765e7.js"></script>
  <link rel="stylesheet" href="/assets/index-473b8dcf.css">
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>


</body>
</html>
